.intro-section {
  box-sizing: border-box;
  padding: 11rem 11rem 6.5rem 11rem;
  height: 100vh;
  min-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(247, 247, 247);
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.intro-particles {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

.intro-particles-canvas {
  display: block;
  width: 100%;
  height: 100%;
}

.intro-top {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.intro-title h1 {
  font-size: 3.7rem;
  margin: 0;
  letter-spacing: 2px;
  background: linear-gradient(to right, var(--black), var(--purple));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-title {
  width: 33rem;
}

.intro-p {
  margin: 2rem 0 2.7rem 0;
  font-weight: 500;
  font-size: 1.2rem;
  width: 25rem;
}

.intro-p strong {
  color: var(--purple);
}

.intro-cta {
  margin: 0 0 2rem 0;
  font-weight: 600;
  color: var(--purple);
}

.intro-ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.intro-ul li {
  margin: 0 2rem 0 0;
}

.bxl-github,
.bxl-linkedin-square {
  color: var(--black);
  transition: color 0.1s ease;
}

.bxl-github:hover,
.bxl-linkedin-square:hover {
  color: var(--purple);
}

.intro-img {
  width: 20rem;
  height: 20rem;
  border-radius: 7rem;
  border: 3px solid var(--black);
  object-fit: cover;
  object-position: 75% 45%;
}

.intro-skills {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.intro-skills h3 {
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 2rem;
}

.skills {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  width: 37rem;
}

.skill-a {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/spring.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-b {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/java.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-c {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/aws.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-d {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/js.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-e {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/react.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-f {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/git.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-g {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/mysql.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.skill-h {
  width: 2.5rem;
  height: 2.5rem;
  background: url("/images/postgresql.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1300px) {
  .intro-title {
    width: 30rem;
  }
  .intro-section {
    padding: 10.5rem 6rem 6rem 6rem;
  }
  .intro-title h1 {
    font-size: 3rem;
  }
  .intro-p {
    font-size: 1rem;
    width: 20rem;
  }
}

@media only screen and (max-width: 1139px) {
  .intro-section {
    padding: 6rem 1.5rem 1.5rem 1.5rem;
    height: 100%;
  }
  .intro-top {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .intro-img {
    margin-bottom: 1.5rem;
  }
  .intro-title h1,
  .intro-p,
  .intro-cta {
    text-align: center;
  }
  .intro-p {
    margin: 1.5rem 0;
    width: 100%;
  }
  .intro-ul {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  .intro-ul li {
    margin: 0;
  }
  .intro-skills h3 {
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 670px) {
  .intro-img {
    width: 15rem;
    height: 15rem;
    border-radius: 5rem;
  }
  .intro-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .intro-title h1 {
    font-size: 2.3rem;
  }
  .intro-p {
    width: 55%;
  }
  .skills {
    width: 100%;
    padding: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .intro-skills h3 {
    font-size: 1rem;
  }
  .skill-a,
  .skill-b,
  .skill-c,
  .skill-d,
  .skill-e,
  .skill-f,
  .skill-g,
  .skill-h {
    width: 1.5rem;
    height: 1.5rem;
  }
}
