---
import "../styles/about.css";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<section id="about" class="About-container">
  <div class="About-title">
    <h2>{t('about.title')}</h2>
  </div>
  <img
    class="About-image About-image-mobile"
    src="/images/yoo.jpg"
    alt="Alejandro Esteve Maza portrait"
    width="3472"
    height="3472"
    loading="lazy"
  />
  <div class="About-container-2">
    <div class="About-text">
      <img
        class="About-image About-image-desktop"
        src="/images/yoo.jpg"
        alt="Alejandro Esteve Maza portrait"
        loading="lazy"
      />
      <p set:html={t('about.body')}></p>
    </div>
  </div>
</section>
