---
import "../styles/about.css";

const { copy } = Astro.props;
---
<section id="about" class="About-container">
  <div class="About-title">
    <h2>{copy.about.title}</h2>
  </div>
  <img
    class="About-image About-image-mobile"
    src="/images/yoo.jpg"
    alt="Alejandro Esteve Maza portrait"
    loading="lazy"
  />
  <div class="About-container-2">
    <div class="About-text">
      <img
        class="About-image About-image-desktop"
        src="/images/yoo.jpg"
        alt="Alejandro Esteve Maza portrait"
        loading="lazy"
      />
      <p set:html={copy.about.body}></p>
    </div>
  </div>
</section>
