---
import "../styles/contact.css";

const { copy } = Astro.props;
---
<section id="contact" class="Contact-container">
  <h2 class="Contact-title">{copy.contact.title}</h2>
  <h3 class="Contact-subtitle">{copy.contact.subtitle}</h3>
  <div class="Contact-card">
    <div class="Contact-link">
      <a
        href="mailto:alex.esteve98@gmail.com"
        aria-label={copy.contact.emailLabel}
      >
        <i class="bx bx-md bxs-envelope"></i>
      </a>
      <p>alex.esteve98@gmail.com</p>
    </div>
    <div class="Contact-link">
      <a
        href="https://www.linkedin.com/in/alejandro-esteve-maza/"
        aria-label={copy.contact.linkedinLabel}
      >
        <i class="bx bx-md bxl-linkedin-square"></i>
      </a>
      <p>Alejandro Esteve Maza</p>
    </div>
  </div>
</section>
