---
import "../styles/footer.css";
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import { getSiteData } from '../i18n/data';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const data = getSiteData(lang);
---
<footer class="Footer">
  <p>{t('footer.text')}</p>
  <a class="Footer-contact" href="mailto:alex.esteve98@gmail.com">
    {t('nav.contact')}
  </a>
</footer>
