---
import "../styles/footer.css";

const { copy } = Astro.props;
---
<footer class="Footer">
  <p>{copy.footer.text}</p>
  <a class="Footer-contact" href={copy.showContact ? "#contact" : "mailto:alex.esteve98@gmail.com"}>
    {copy.nav.contact}
  </a>
</footer>
